button{
  border: none;
  }
  
  .btn{
  background-color: #1e1e1f;
  border-radius: 5px;
  color: #fafafa;
  font-family: sans-serif;
  font-size: 16px;
  }
  .btn.active{
  border-radius: 5px;
  }
  .btn.register{
  margin-right: 10px;
  }
  
  .btn.start-game{
   background-color: #4e1992;
  border-radius: 350px;
  color: #fafafa;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-left: 41%;
  padding: 120px;

   
  }