
.game-timer {
  display: flex;
  max-width: 150px;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  text-align: center;
  width: 100%;
  height: 65px;
  margin-right: 3%;
  border-radius: 5px;
  font-size: 36px;
  background-color: blanchedalmond;

}
